body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fbe7dd;
}

header {
    background-color: #f5a98c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

logo img {
    max-width: 80px;
    height: auto;
    margin-bottom: 5px;
}

nav {
    flex: 1;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.user-bar {
    font-size: 14px;
    text-align: right;
    color: black;
    text-shadow: 5px black;
}

main {
    display: flex;
    margin: auto;
    width: 80%;
}

.cadastro-form {
    background-color: white;
    border-radius: 8px;
    width: 95%;
    margin: 10px;
}

.cadastro-form h2 {
    background-color: #f26868;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    background-color: #6a2677;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

aside {
    margin-left: 20px;
    width: 25%;
}

aside img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
}

.form-cliente{
    width: 80%;
    margin: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.opcoes-clientes{
    margin-top: 5px;
    text-align: center;
    padding: 15px;
}

/*input[name="titulo"], [name="local-compra"], [name="descricao"]{
    margin: 10px;
}*/

.label-produto-lado{
    margin-left: 10px;
    
}

.nav-item {
    color: black;
    text-shadow: 5px black;
}

.pesquisa-produto{
    display: flex; 
    width: 100%; max-width: 700px; 
    margin: auto;
}

.input-buscar{
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}

.button-pesquisar{
    background-color: #800080; 
    color: white; border: none; 
    padding: 10px 16px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}

.select-categorias {
    height: 165px;
    width: 50px;
}
